* {
    margin: 0;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}


body,
html {
    height: 100%;
}

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    height: 50px;
    z-index: 1002;
}

.top-nav ul {
    display: flex;
    gap: 34px;
    list-style-type: none;
    margin-left: 6.7%;
    margin-top: 12px;
    padding: 0;
    text-align: left;
}

.top-nav li {
    display: inline;
}

.top-nav a {
    display: inline-block;
    font-family: 'DM Sans';
    color: #fff;

    text-transform: capitalize;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

#logo {
    background-image: url("./public/logo.svg");
    background-size: contain;
    width: 65px;
    height: 66px;
    background-repeat: no-repeat;
}

.welcome {
    background: url("./public/Dcover.svg");
    background-size: cover;
    z-index: 1001;
    position: relative;
    background-position: center;
}

#dSwipe {
    background: url("./public/swipe.gif");
    background-position: center;
    background-size: 5%;
    position: relative;
    /* transform: rotate(90deg); */
    background-repeat: no-repeat;
    top: 40%;
}

.first {
    background-image: url('./public/Back/Bg1.svg');
    background-color: #352b5f;
}

.first .story #title {
    background: url('public/SpObjects/Tit1.svg');
}

.first .story #img {
    background: url('public/SpObjects/Img1.svg');
}

.first .story #num {
    background: url('public/SpObjects/Num1.svg');
}

.first .story #paraContainer {
    background: url('public/SpObjects/Dtxt1.svg');
}

.second {
    background-image: url("public/Back/Bg2.svg");
    background-color: #e5e3f1;
}

.second .story #title {
    background: url('public/SpObjects/Tit2.svg');
}

.second .story #img {
    background: url('public/SpObjects/Img2.svg');
}

.second .story #num {
    background: url('public/SpObjects/Num2.svg');
}

.second .story #paraContainer {
    background: url('public/SpObjects/Dtxt2.svg');
}

.third {
    background-image: url('public/Back/Bg3.svg');
    background-color: #eae5f1;
}

.third .story #title {
    background: url('public/SpObjects/Tit3.svg');
}

.third .story #img {
    background: url('public/SpObjects/Img3.svg');
}

.third .story #num {
    background: url('public/SpObjects/Num3.svg');
}

.third .story #paraContainer {
    background: url('public/SpObjects/Dtxt3.svg');
}

.fourth {
    background-image: url("public/Back/Bg4.svg");
    background-color: #ffd2c5;
}

.fourth .story #title {
    background: url('public/SpObjects/Tit4.svg');
}

.fourth .story #img {
    background: url('public/SpObjects/Img4.svg');
}

.fourth .story #num {
    background: url('public/SpObjects/Num4.svg');
}

.fourth .story #paraContainer {
    background: url('public/SpObjects/Dtxt4.svg');
}

.fifth {
    background-image: url("public/Back/Bg5.svg");
    background-color: #ffd2c5;
}

.fifth .story #title {
    background: url('public/SpObjects/Tit5.svg');
}

.fifth .story #img {
    background: url('public/SpObjects/Img5.svg');
}

.fifth .story #num {
    background: url('public/SpObjects/Num5.svg');
}

.fifth .story #paraContainer {
    background: url('public/SpObjects/Dtxt5.svg');
}

.sixth {
    background-image: url("public/Back/Bg6.svg");
    background-color: #ffd2c5;
}

.sixth .story #title {
    background: url('public/SpObjects/Tit6.svg');
}

.sixth .story #img {
    background: url('public/SpObjects/Img6.svg');
}

.sixth .story #num {
    background: url('public/SpObjects/Num6.svg');
}

.sixth .story #paraContainer {
    background: url('public/SpObjects/Dtxt6.svg');
}

.seventh {
    background-image: url("public/Back/Bg7.svg");
    background-color: #ffd2c5;
}

.seventh .story #title {
    background: url('public/SpObjects/Tit7.svg');
}

.seventh .story #img {
    background: url('public/SpObjects/Img7.svg');
}

.seventh .story #num {
    background: url('public/SpObjects/Num7.svg');
}

.seventh .story #paraContainer {
    background: url('public/SpObjects/Dtxt7.svg');
}

.eight {
    background-image: url("public/Back/Bg8.svg");
    background-color: #ffd2c5;
}

.eight .story #title {
    background: url('public/SpObjects/Tit8.svg');
}

.eight .story #img {
    background: url('public/SpObjects/Img8.svg');
}

.eight .story #num {
    background: url('public/SpObjects/Num8.svg');
}

.eight .story #paraContainer {
    background: url('public/SpObjects/Dtxt8.svg');
}

.ninth {
    background-image: url("public/Back/Bg9.svg");
    background-color: #ffd2c5;
}

.ninth .story #title {
    background: url('public/SpObjects/Tit9.svg');
}

.ninth .story #img {
    background: url('public/SpObjects/Img9.svg');
}

.ninth .story #num {
    background: url('public/SpObjects/Num9.svg');
}

.ninth .story #paraContainer {
    background: url('public/SpObjects/Dtxt9.svg');
}

.tenth {
    background-image: url("public/Back/Bg10.svg");
    background-color: #ffd2c5;
}

.tenth .story #title {
    background: url('public/SpObjects/Tit10.svg');
}

.tenth .story #img {
    background: url('public/SpObjects/Img10.svg');
}

.tenth .story #num {
    background: url('public/SpObjects/Num10.svg');
}

.tenth .story #paraContainer {
    background: url('public/SpObjects/Dtxt10.svg');
}

.eleventh {
    background-image: url("public/Back/Bg11.svg");
    background-color: #ffd2c5;
}

.eleventh .story #title {
    background: url('public/SpObjects/Tit11.svg');
}

.eleventh .story #img {
    background: url('public/SpObjects/Img11.svg');
}

.eleventh .story #num {
    background: url('public/SpObjects/Num11.svg');
}

.eleventh .story #paraContainer {
    background: url('public/SpObjects/Dtxt11.svg');
}

.twelfth {
    background-image: url("public/Back/Bg12.svg");
    background-color: #ffd2c5;
}

.twelfth .story #title {
    background: url('public/SpObjects/Tit12.svg');
}

.twelfth .story #img {
    background: url('public/SpObjects/Img12.svg');
}

.twelfth .story #num {
    background: url('public/SpObjects/Num12.svg');
}

.twelfth .story #paraContainer {
    background: url('public/SpObjects/Dtxt12.svg');
}

.thirteenth {
    background-image: url("public/Back/Bg13.svg");
    background-color: #ffd2c5;
}

.thirteenth .story #title {
    background: url('public/SpObjects/Tit13.svg');
}

.thirteenth .story #img {
    background: url('public/SpObjects/Img13.svg');
}

.thirteenth .story #num {
    background: url('public/SpObjects/Num13.svg');
}

.thirteenth .story #paraContainer {
    background: url('public/SpObjects/Dtxt13.svg');
}

.fourtheenth {
    background-image: url("public/Back/Bg14.svg");
    background-color: #ffd2c5;
}

.fourtheenth .story #title {
    background: url('public/SpObjects/Tit14.svg');
}

.fourtheenth .story #img {
    background: url('public/SpObjects/Img14.svg');
}

.fourtheenth .story #num {
    background: url('public/SpObjects/Num14.svg');
}

.fourtheenth .story #paraContainer {
    background: url('public/SpObjects/Dtxt14.svg');
}

.fifteenth {
    background-image: url("public/Back/Bg15.svg");
    background-color: #ffd2c5;
}

.fifteenth .story #title {
    background: url('public/SpObjects/Tit15.svg');
}

.fifteenth .story #img {
    background: url('public/SpObjects/Img15.svg');
}

.fifteenth .story #num {
    background: url('public/SpObjects/Num15.svg');
}

.fifteenth .story #paraContainer {
    background: url('public/SpObjects/Dtxt15.svg');
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth,
.seventh,
.eight,
.ninth,
.tenth,
.eleventh,
.twelfth {
    display: flex;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.story {
    margin: 0 auto;
    min-width: 980px;
    width: 100%;
    position: relative;
}

.story #title {
    background-repeat: no-repeat !important;
    /* background-attachment: fixed !important; */
    background-size: auto 20% !important;
    background-position-y: 76% !important;
    z-index: 2;
}

.story #img {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 32% !important;
    background-position: 73.2% 68% !important;
}

.story #num {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 10% !important;
    background-position: 50.2% 74% !important;
}

.story #paraContainer {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: 35% !important;
    background-position: 11% 33% !important;
    z-index: 1;
}

.story div {
    position: absolute;
    width: inherit;
}

.eleventh .story #num {
    background-size: 9% !important;
}

.side-nav {
    position: fixed;
    right: 8%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
}

.side-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-nav ul li {
    margin-bottom: 20px;
    height: 15px;
}

.side-nav ul li a {
    display: block;
    background: #AD7B10 0% 0% no-repeat padding-box;
    height: 12px;
    width: 12px;
    opacity: 0.5;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: #fff;
    text-decoration: none;
}

.side-nav ul li a p {
    color: #AD7B10;
    font-family: 'DM Sans';
    font-size: 18px;
    position: relative;
    /* top: -14px; */
    text-align: end;
    width: 122px;
    height: 29px;
    left: -91px;
}

.side-nav ul li a p {
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* Adjust the timing as needed */
    transform: translateX(0);
    /* Adjust the distance as needed */
    opacity: 0;
}

.side-nav ul li a:hover p {
    transform: translateX(-45px);
    opacity: 1;
}


.side-nav ul li a:hover {
    opacity: 1 !important;
}

/* active class */
.side-nav ul li a.active {
    opacity: 1;
}

.active {
    opacity: 1;
}

.mobile {
    display: none;
}

.m-story {
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}

/******************************************  Mobile view  ******************************************/

.mobile .container .first {
    background-image: url("./public/MBack/PBg1.svg");
}

.mobile .container .second {
    background-image: url("./public/MBack/PBg2.svg");
}

.mobile .container .third {
    background-image: url("./public/MBack/PBg3.svg");
}

.mobile .container .fourth {
    background-image: url("./public/MBack/PBg4.svg");
}

.mobile .container .fifth {
    background-image: url("./public/MBack/PBg5.svg");
}

.mobile .container .sixth {
    background-image: url("./public/MBack/PBg6.svg");
}

.mobile .container .seventh {
    background-image: url("./public/MBack/PBg7.svg");
}

.mobile .container .eight {
    background-image: url("./public/MBack/PBg8.svg");
}

.mobile .container .ninth {
    background-image: url("./public/MBack/PBg9.svg");
}

.mobile .container .tenth {
    background-image: url("./public/MBack/PBg10.svg");
}

.mobile .container .eleventh {
    background-image: url("./public/MBack/PBg11.svg");
}

.mobile .container .twelfth {
    background-image: url("./public/MBack/PBg12.svg");
}

.mobile .container .thirteenth {
    background-image: url("./public/MBack/PBg13.svg");
}

.mobile .container .fourtheenth {
    background-image: url("./public/MBack/PBg14.svg");
}

.mobile .container .fifteenth {
    background-image: url("./public/MBack/PBg15.svg");
}

/*  Mobile view Title   */
.first .m-story #title {
    background-image: url("./public/SpObjects/Tit1.svg");
}
.second .m-story #title {
    background-image: url("./public/SpObjects/Tit2.svg");
}
.third .m-story #title {
    background-image: url("./public/SpObjects/Tit3.svg");
}
.fourth .m-story #title {
    background-image: url("./public/SpObjects/Tit4.svg");
}
.fifth .m-story #title {
    background-image: url("./public/SpObjects/Tit5.svg");
}
.sixth .m-story #title {
    background-image: url("./public/SpObjects/Tit6.svg");
}
.seventh .m-story #title {
    background-image: url("./public/SpObjects/Tit7.svg");
}
.eight .m-story #title {
    background-image: url("./public/SpObjects/Tit8.svg");
}
.ninth .m-story #title {
    background-image: url("./public/SpObjects/Tit9.svg");
}
.tenth .m-story #title {
    background-image: url("./public/SpObjects/Tit10.svg");
}
.eleventh .m-story #title {
    background-image: url("./public/SpObjects/Tit11.svg");
}
.twelfth .m-story #title {
    background-image: url("./public/SpObjects/Tit12.svg");
}
.thirteenth .m-story #title {
    background-image: url("./public/SpObjects/Tit13.svg");
}
.fourtheenth .m-story #title {
    background-image: url("./public/SpObjects/Tit14.svg");
}
.fifteenth .m-story #title {
    background-image: url("./public/SpObjects/Tit15.svg");
}

.first .m-story #title,
.second .m-story #title,
.third .m-story #title,
.fourth .m-story #title,
.fifth .m-story #title,
.sixth .m-story #title,
.seventh .m-story #title,
.eight .m-story #title,
.ninth .m-story #title,
.tenth .m-story #title,
.eleventh .m-story #title,
.twelfth .m-story #title,
.thirteenth .m-story #title,
.fourtheenth .m-story #title,
.fifteenth .m-story #title {
    background-size: auto 10%;
    background-position-x: initial;
    background-position-y: 11%;
    background-repeat: no-repeat;
    padding: 0;
    position: absolute;
    width: inherit;
    z-index: 11;
    color: black;
    background-attachment: fixed;
}

/*  Mobile view Img   */

.first .m-story #img {
    background-image: url("./public/SpObjects/Img1.svg");
}
.second .m-story #img {
    background-image: url("./public/SpObjects/Img2.svg");
}
.third .m-story #img {
    background-image: url("./public/SpObjects/Img3.svg");
}
.fourth .m-story #img {
    background-image: url("./public/SpObjects/Img4.svg");
}
.fifth .m-story #img {
    background-image: url("./public/SpObjects/Img5.svg");
}
.sixth .m-story #img {
    background-image: url("./public/SpObjects/Img6.svg");
}
.seventh .m-story #img {
    background-image: url("./public/SpObjects/Img7.svg");
}
.eight .m-story #img {
    background-image: url("./public/SpObjects/Img8.svg");
}
.ninth .m-story #img {
    background-image: url("./public/SpObjects/Img9.svg");
}
.tenth .m-story #img {
    background-image: url("./public/SpObjects/Img10.svg");
}
.eleventh .m-story #img {
    background-image: url("./public/SpObjects/Img11.svg");
}
.twelfth .m-story #img {
    background-image: url("./public/SpObjects/Img12.svg");
}
.thirteenth .m-story #img {
    background-image: url("./public/SpObjects/Img13.svg");
}
.fourtheenth .m-story #img {
    background-image: url("./public/SpObjects/Img14.svg");
}
.fifteenth .m-story #img {
    background-image: url("./public/SpObjects/Img15.svg");
}

.first .m-story #img,
.second .m-story #img,
.third .m-story #img,
.fourth .m-story #img,
.fifth .m-story #img,
.sixth .m-story #img,
.seventh .m-story #img,
.eight .m-story #img,
.ninth .m-story #img,
.tenth .m-story #img,
.eleventh .m-story #img,
.twelfth .m-story #img,
.thirteenth .m-story #img,
.fourtheenth .m-story #img,
.fifteenth .m-story #img {
    background-position: center;
    background-size: 80%;
    background-position-y: 40%;
    background-repeat: no-repeat;
    padding: 0;
    position: absolute;
    width: inherit;
    z-index: 10;
    color: black;
    background-attachment: fixed;
}

/*  Mobile view Num   */

.first .m-story #num {
    background-image: url("./public/SpObjects/Num1.svg");
}
.second .m-story #num {
    background-image: url("./public/SpObjects/Num2.svg");
}
.third .m-story #num {
    background-image: url("./public/SpObjects/Num3.svg");
}
.fourth .m-story #num {
    background-image: url("./public/SpObjects/Num4.svg");
}
.fifth .m-story #num {
    background-image: url("./public/SpObjects/Num5.svg");
}
.sixth .m-story #num {
    background-image: url("./public/SpObjects/Num6.svg");
}
.seventh .m-story #num {
    background-image: url("./public/SpObjects/Num7.svg");
}
.eight .m-story #num {
    background-image: url("./public/SpObjects/Num8.svg");
}
.ninth .m-story #num {
    background-image: url("./public/SpObjects/Num9.svg");
}
.tenth .m-story #num {
    background-image: url("./public/SpObjects/Num10.svg");
}
.eleventh .m-story #num {
    background-image: url("./public/SpObjects/Num11.svg");
}
.twelfth .m-story #num {
    background-image: url("./public/SpObjects/Num12.svg");
}
.thirteenth .m-story #num {
    background-image: url("./public/SpObjects/Num13.svg");
}
.fourtheenth .m-story #num {
    background-image: url("./public/SpObjects/Num14.svg");
}
.fifteenth .m-story #num {
    background-image: url("./public/SpObjects/Num15.svg");
}

.first .m-story #num,
.second .m-story #num,
.third .m-story #num,
.fourth .m-story #num,
.fifth .m-story #num,
.sixth .m-story #num,
.seventh .m-story #num,
.eight .m-story #num,
.ninth .m-story #num,
.tenth .m-story #num,
.eleventh .m-story #num,
.twelfth .m-story #num,
.thirteenth .m-story #num,
.fourtheenth .m-story #num,
.fifteenth .m-story #num {
    background-position: center;
    background-size: 30%;
    background-position-x: 15%;
    background-position-y: 60%;
    background-repeat: no-repeat;
    padding: 0;
    position: absolute;
    width: inherit;
    z-index: 10;
    color: black;
    background-attachment: fixed;
}

/*   Mobile View Paragraph   */

#paraContainer {    
    background-attachment: fixed !important;
    background-position: center !important;
    /* background-size: 85% 20% !important;
    overflow: auto;
    background-position-y: 85% !important;    */    
    background-size: 80% 30% !important;
    background-position-y: 95% !important;
    background-repeat: no-repeat !important;
}

.first .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt1.svg"); */
    background: url("./public/SpObjects/Mtxt1.svg");
}

.second .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt2.svg"); */
    background: url("./public/SpObjects/Mtxt2.svg");
}

.third .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt3.svg"); */
    background: url("./public/SpObjects/Mtxt3.svg");
}

.fourth .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt4.svg"); */
    background: url("./public/SpObjects/Mtxt4.svg");
}

.fifth .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt5.svg"); */
    background: url("./public/SpObjects/Mtxt5.svg");
}

.sixth .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt6.svg"); */
    background: url("./public/SpObjects/Mtxt6.svg");
}

.seventh .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt7.svg"); */
    background: url("./public/SpObjects/Mtxt7.svg");
}

.eight .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt8.svg"); */
    background: url("./public/SpObjects/Mtxt8.svg");
}

.ninth .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt9.svg"); */
    background: url("./public/SpObjects/Mtxt9.svg");
}

.tenth .m-story #paraContainer{
    /* background: url("./public/DesktopTxt/Txt10.svg"); */
    background: url("./public/SpObjects/Mtxt10.svg");
}

.eleventh .m-story #paraContainer {
    /* background: url("./public/DesktopTxt/Txt11.svg"); */
    background: url("./public/SpObjects/Mtxt11.svg");
}

.twelfth .m-story #paraContainer {
    /* background: url("./public/DesktopTxt/Txt12.svg"); */
    background: url("./public/SpObjects/Mtxt12.svg");
}

.thirteenth .m-story #paraContainer {
    background: url("./public/SpObjects/Mtxt13.svg");
}

.fourtheenth .m-story #paraContainer {
    background: url("./public/SpObjects/Mtxt14.svg");
}

.fifteenth .m-story #paraContainer {
    background: url("./public/SpObjects/Mtxt15.svg");
}


@media screen and (max-width: 450px) {

    #logo {
        background-image: url("./public/logo.svg");
        background-size: contain;
        width: 45px;
        background-repeat: no-repeat;
    }

    .welcome {
        background: url("./public/Pcover.svg");
        background-size: cover;
        background-position: center;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .first .story div,
    .second .story div,
    .third .story div,
    .fourth .story div,
    .fifth .story div,
    .sixth .story div,
    .seventh .story div,
    .eight .story div,
    .ninth .story div,
    .tenth .story div,
    .eleventh .story div {
        display: none;
    }
}